<section class="w-75 mx-auto rounded shadow bg-main-light mb-3 p-3" *ngIf="cartDetailes;else mas">
 <div class="d-flex justify-content-between align-items-center">
  <h1 class="h2">Shop Cart</h1>
  <button (click)="clear()" class="btn btn-sm btn-outline-danger">clear All</button>
 </div>
  <p class="text-main">Total Price :{{cartDetailes.totalCartPrice|currency:" EGP "}}</p>
   <div class="row border-bottom py-2" *ngFor="let item of cartDetailes.products">
    <div class="col-md-2 col-sm-2">
      <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
    </div>
    <div class="col-md-10 col-sm-10 d-flex justify-content-between align-items-center">
      <div>
        <h3 class="h6">{{item.product.title|cuttext:12}}</h3>
        <p class="text-main m-0"> Price:  {{ item.price | currency:"EGP " }}</p>
        <button #btnRemove (click)="removeIt(item.product._id,btnRemove)"  class="btn m-0 p-0 text-main"><i class="fas fa-trash-can"></i>
          Remove</button>
      </div>
      <div>
        <button #btn1 (click)="changeCount(item.count+1,item.product._id,btn1,btn2)" class="btn btn-sm border-success"> + </button>
        <span > {{item.count}} </span>
        <button #btn2 (click)="changeCount(item.count-1,item.product._id,btn1,btn2)" class="btn btn-sm border-success"> - </button>
      </div>
    </div>


  </div>
  <button [routerLink]="['/payment',cartDetailes._id]" class="main-btn mt-3 ">Online Payment  <img src="./assets/images/visa-1.svg" alt="visa"></button>
</section>
<ng-template #mas>
  <div class="w-100 d-flex justify-content-center align-items-center">
    <img class="w-50" src="./assets/images/95974e121862329.Y3JvcCw5MjIsNzIxLDAsMTM5.png" alt="">
  </div>
</ng-template>

