<section *ngIf="step1" class="w-50 mx-auto rounded bg-main-light p-3 shadow mt-5">
  <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()" >
    <label class="header fw-bold mx-auto fs-1 text-center header position-relative d-flex justify-content-center align-items-end h2" for="email">Email</label>
    <input formControlName="email" type="email"  id="email" class="form-control mt-4">
    <button class="main-btn mt-3 w-100">Forget Password</button>
    <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{userMsg}}</p>
  </form>
</section>


<section *ngIf="step2" class="w-50 mx-auto rounded bg-main-light p-3 shadow mt-5">
  <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()" >
    <label class="header fw-bold mx-auto fs-1 text-center header position-relative d-flex justify-content-center align-items-end h2" for="resetCode">Reset Code</label>
    <input formControlName="resetCode" type="text"  id="resetCode" class="form-control mt-4">
    <button class="main-btn mt-3 w-100">Reset Code</button>
  </form>
</section>

<section *ngIf="step3" class="w-50 mx-auto rounded bg-main-light p-3 shadow mt-5">
  <form [formGroup]="resetPassword" (ngSubmit)="newpassword()">
    <label class="header fw-bold mx-auto fs-1 text-center header position-relative d-flex justify-content-center align-items-end h2" for="newpassword">Reset Pasword</label>
    <input formControlName="newpassword" type="text"  id="newpassword" class="form-control mt-4">
    <button class="main-btn mt-3 w-100">Reset password</button>
  </form>
</section>
